@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
  background: rgb(90, 125, 240);
  color: #fff;
  min-height: 100vh;
}

h1 {
  margin-top: 20px;
  margin-bottom: 150px;
  text-align: center;
}

.h3 {
  font-size: 25px;
}

.w-letters {
  font-size: 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin-right: 150px;
  width: 70%;
}

.input {
  margin-top: 20px;
  font-size: 40px;
  letter-spacing: 10px;
}

.alert {
  position: absolute;
  margin: 0 auto;
  bottom: 20px;
  left: 50%;
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px 0;
  transform: translateX(-50%) translateY(100px);
  background-color: rgb(0, 38, 255);
  transition: transform 0.3s ease-in-out;
}

.alert.show {
  transform: translateX(-50%) translateY(0);
}
