@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', sans-serif;
}

body {
  overflow: hidden;
  background: coral;

  color: #fff;
  min-height: 100vh;
}

h1 {
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin-right: 150px;
  width: 70%;
}

.input {
  margin-top: 20px;
  font-size: 40px;
  letter-spacing: 10px;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding: 20px;
  height: 50px;
  text-align: center;
}

.footer .footer-text {
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
